@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #161513 !important;
  font-family: 'Poppins', sans-serif;
}
.nav-shadow{
  box-shadow: 0px 4.364px 16px -2.182px rgba(0, 0, 0, 0.10);
}
.lobster{
  font-family: 'Lobster', sans-serif;
}